h1 {
	color:#ff1493;
}
h2{
	color:#ff1493;
}
body{
	background-color:#ffd700;
}
p{
	color:
	margin-top:100px;
}
table{
	border: 5px solid;
	font-size: 50px;
	padding-bottom: 500px;
	<img src= "highlight.jpg"> 
}
<img src="eye.jpg"{
	width:1px;
	height:1px;
	color:#ff1493;
	background color:#ffd700;
